<!DOCTYPE html>
<html>
    <%- include('includes/head.ejs') %>

    <body>
        <link rel="stylesheet" href="../css/style.min.css">
        <div  class="problem">
            <a href="/">Volver al menú</a>
            <br><br>
            <header><strong><h4>Seleccione el Laboratorio que desea visualizar</h4></strong></header>
            <p><a href="/labs/lab3">Laboratorio 3</a></p>
            <p><a href="/labs/lab5">Laboratorio 5</a></p>
            <p><a href="/labs/lab6">Laboratorio 6</a></p>
            <p><a href="/labs/lab7">Laboratorio 7</a> (con bootstrap)</p>
            <p><a href="/labs/lab12">Laboratorio 12</a></p>
        </div>
        <br><br><br><br><br><br><br>
    </body>
    <%- include('includes/footer.ejs') %>
</html>
