<!DOCTYPE html>
<html>
    <%- include('includes/head.ejs') %>

    <body>
        <link rel="stylesheet" href="../css/style.min.css">
        <div  class="problem">
            <header><h3><strong>Bienvenido al Laboratorio 15</strong></h3></header>
            <header><h4><strong>Menú</strong></h4></header>
            <li><a href="/labs">Laboratorios 3, 5, 6, 7 y 12</a></li>
            <li><a href="/phishing">Sitio simple de phishing</a></li>
            <li><a href="/phishing/list">Ver lista de cuentas víctimas de phishing</a></li>
            <li><a href="/muestras/list">Muestras</a></li>
            <br><br>
            <h3>Preguntas a responder:</h3>
            <dl><ol>
                <dt class="preguntas"><li><strong>¿Qué beneficios encuentras en el estilo MVC?</strong></li></dt>
                <dd><p>Permite organizar todos los elementos de una página web de acuerdo con su funcionalidad, lo que ayuda a encontrar los recursos cuando se les está buscando y a realizar las correcciones necesarias.</p></dd>
        
                <dt class="preguntas"><li><strong>¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</strong></li></dt>
                <dd><p>Tener todo tan separado hace que sea más compilado agregar nuevas páginas.</p></dd>
            </ol></dl>
            <br><br><br><br><br>
            <p>Nota: En estos laboratorios le he dado más prioridad a la funcionalidad que a la estética</p>
        </div>
    </body>
    <%- include('includes/footer.ejs') %>

    